@model PaginatedResult<RoleDto>
@{
    ViewData["Title"] = "الصلاحيات";
    ViewData["action"] = "GetRoles";

    ViewData["PageSize"] = Model.PageSize;
    ViewData["SearchString"] = Model.SearchString;
}

<!--begin::Container-->
<div class="container">

    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon2-favourite text-primary"></i>
                </span>
                <h3 class="card-label">صلاحيات النظام</h3>
            </div>
            <div class="card-toolbar">
                <!--begin::Button-->
                <a id="addRoleButton" class="btn btn-primary font-weight-bolder">
                    إضافة صلاحية
                    <i class="la la-plus"></i>
                </a>
                <!-- Modal Container -->
                <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div id="modalContent">
                            <partial name="AddEditRole" model="@Model.RoleDto" />
                        </div>

                    </div>
                </div>
                &nbsp;
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline mr-2">
                    <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        طباعة
                        <i class="la la-download"></i>
                    </button>
                    <!--begin::Dropdown Menu-->
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <ul class="nav flex-column nav-hover">
                            <li class="nav-header font-weight-bolder text-uppercase text-primary pb-2">اختر من الاختيارات:</li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-print"></i>
                                    <span class="nav-text">Print</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-copy"></i>
                                    <span class="nav-text">Copy</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-file-excel-o"></i>
                                    <span class="nav-text">Excel</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-file-text-o"></i>
                                    <span class="nav-text">CSV</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-file-pdf-o"></i>
                                    <span class="nav-text">PDF</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end::Dropdown Menu-->
                </div>
                <!--end::Dropdown-->
            </div>
        </div>
        <div class="card-body">

            <div class="text-center pb-8">
                <div class="text-danger" id="errorUsers" style="font-size: 16px">
                    <label id="error"></label>
                </div>
            </div>

            <!--begin: Search-->
            <partial name="_PagedListSearch" />
            <!--end: Search-->
            <!--begin: Datatable-->
            <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                <thead>
                    <tr role="row">

                        <th>اسم الصلاحية</th>
                        <th>اسم الصلاحية عربي</th>
                        <th>وصف الصلاحية</th>
                        <th>ادخال بواسطة</th>
                        <th>تاريخ الانشاء</th>
                        <th>حالة الحذف</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Any())
                    {
                        foreach (var role in Model.Items)
                        {
                            <tr>
                                <td>@role.Name</td>
                                <td>@role.RoleNameArabic</td>
                                <td>@role.Description</td>
                                <td>@role.CreatedById</td>
                                <td>@role.CreatedDate.Value.ToString("yyyy/MM/dd")</td>
                                <td>
                                    @if (role.IsDeleted == true)
                                    {
                                        <span style="width: 137px;">
                                            <span class="label font-weight-bold label-lg  label-light-danger label-inline">
                                                <b>تم الحذف</b>
                                            </span>
                                        </span>
                                    }
                                </td>
                                <td>
                                    <a id="updateRoleButton" onclick="updateRoleButton('@role.Id')" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon" title="تعديل الصلاحية">

                                        <i class="la la-edit"></i>
                                    </a>
                                    @if (role.IsDeleted == true)
                                    {
                                        <a href="#" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon" title="حذف الصلاحية">

                                            <i class="la la-trash"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="deleteRoleButton('@role.Id')" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon" title="حذف الصلاحية">

                                            <i class="la la-trash"></i>
                                        </a>
                                    }

                                    <a id="addUpdateRolePermission" onclick="addUpdateRolePermissionButton('@role.Id')" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon" title="صلاحيات الشاشات">

                                        <i class="flaticon2-document">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <!--end: Datatable-->

            <partial name="_PagedListPagerPartial" model="Model" />
        </div>

    </div>

    <!--end::Card-->
</div>
<!--end::Container-->