@model PaginatedResult<UserDto>
@{
    ViewData["Title"] = "المستخدمين";
    ViewData["action"] = "GetUsers";
}

<!--begin::Container-->
<div class="container">

    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon2-favourite text-primary"></i>
                </span>
                <h3 class="card-label">المستخدمين</h3>
            </div>
            <div class="card-toolbar">
                <!--begin::Button-->
                <a id="addUserButton" class="btn btn-primary font-weight-bolder">
                    إضافة مستخدم
                    <i class="la la-plus"></i>
                </a>
                <!-- Modal Container -->
                <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div id="modalContent">
                            <partial name="AddEditUser" model="@Model.UserDto" />
                        </div>

                    </div>
                </div>
                &nbsp;
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline mr-2">
                    <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        طباعة
                        <i class="la la-download"></i>
                    </button>
                    <!--begin::Dropdown Menu-->
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <ul class="nav flex-column nav-hover">
                            <li class="nav-header font-weight-bolder text-uppercase text-primary pb-2">اختر من الاختيارات:</li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-print"></i>
                                    <span class="nav-text">Print</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-copy"></i>
                                    <span class="nav-text">Copy</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-file-excel-o"></i>
                                    <span class="nav-text">Excel</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-file-text-o"></i>
                                    <span class="nav-text">CSV</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon la la-file-pdf-o"></i>
                                    <span class="nav-text">PDF</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end::Dropdown Menu-->
                </div>
                <!--end::Dropdown-->
            </div>
        </div>
        <div class="card-body">

            <div class="text-center pb-8">
                <div class="text-danger" id="errorUsers" style="font-size: 16px">
                    <label id="error"></label>
                </div>
            </div>

            <!--begin: Search-->
            <form asp-action="@ViewData["action"]" method="get" id="searchForm">
                <div class="row" dir="rtl" style="height: 65px;margin-bottom: -20px;">
                    <div class="col-sm-12 col-md-6" style="text-align-last: right">
                        <div id="kt_datatable_filter" class="dataTables_filter">
                            <label>
                                <input type="search" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control form-control-sm" placeholder="Search Here" aria-controls="kt_datatable">
                            </label>
                            <input type="submit" value="Search" class="btn btn-primary" />
                            <a asp-action="@ViewData["action"]" class="btn btn-secondary">Clear</a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6" style="text-align-last: left">
                        <div class="dataTables_length" id="kt_datatable_length">
                            <label>
                                <select name="pageSize" id="pageSizeSelector" aria-controls="kt_datatable" class="custom-select custom-select-sm form-control form-control-sm">
                                    @* <option value="2" selected="@(ViewData["CurrentPageSize"] != null && (int)ViewData["CurrentPageSize"] == 2)">2</option> *@
                                    <option value="10" selected="@(ViewData["CurrentPageSize"] != null && (int)ViewData["CurrentPageSize"] == 10)">10</option>
                                    <option value="25" selected="@(ViewData["CurrentPageSize"] != null && (int)ViewData["CurrentPageSize"] == 25)">25</option>
                                    <option value="50" selected="@(ViewData["CurrentPageSize"] != null && (int)ViewData["CurrentPageSize"] == 50)">50</option>
                                    <option value="100" selected="@(ViewData["CurrentPageSize"] != null && (int)ViewData["CurrentPageSize"] == 100)">100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <!--end: Search-->
            <!--begin: Datatable-->
            <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                <thead>
                    <tr role="row">

                        <th>الاسم</th>
                        <th>اسم المستخدم</th>
                        <th>حالة الحساب</th>
                        <th>حذف الحساب</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Any())
                    {
                        foreach (var user in Model.Items)
                        {
                            <tr>
                                <td>@user.FirstName @user.LastName</td>
                                <td>@user.Username</td>
                                <td>
                                    @{
                                        if ((bool)user.IsActive)
                                        {
                                            <span style="width: 137px;">
                                                <span class="label label-success label-dot mr-2">
                                                </span>
                                                <span class="font-weight-bold text-success">
                                                    <b>مفعل</b>
                                                </span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="width: 137px;">
                                                <span class="label label-danger label-dot mr-2">
                                                </span>
                                                <span class="font-weight-bold text-danger">
                                                    <b>غير مفعل</b>
                                                </span>
                                            </span>

                                        }
                                    }
                                </td>
                                <td>
                                    @if (user.IsDeleted == true)
                                    {
                                        <span style="width: 137px;">
                                            <span class="label font-weight-bold label-lg  label-light-danger label-inline">
                                                <b>تم الحذف</b>
                                            </span>
                                        </span>
                                    }
                                </td>
                                <td>
                                    <div class="dropdown dropdown-inline">

                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown">

                                            <i class="la la-cog"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">

                                            <ul class="nav nav-hoverable flex-column">

                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <i class="nav-icon la la-edit"></i>
                                                        <span class="nav-text">
                                                            تعديل كلمة المرور
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link" href="#"><i class="nav-icon la la-leaf"></i><span class="nav-text">تفعيل المستخدم</span></a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"><i class="nav-icon la la-print"></i><span class="nav-text">طباعة</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a id="updateUserButton" onclick="updateUserButton('@user.Id')" class="btn btn-sm btn-clean btn-icon" title="تعديل المستخدم">

                                        <i class="la la-edit"></i>
                                    </a>
                                    @if (user.IsDeleted == true)
                                    {
                                        <a href="#" class="btn btn-sm btn-clean btn-icon" title="حذف المستخدم">

                                            <i class="la la-trash"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="deleteUserButton('@user.Id')" class="btn btn-sm btn-clean btn-icon" title="حذف المستخدم">

                                            <i class="la la-trash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <!--end: Datatable-->

            <partial name="_PagedListPager" model="Model.Items" />
        </div>

    </div>

    <!--end::Card-->
</div>
<!--end::Container-->

@* <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script> *@